<!DOCTYPE html>
<html>
<head>
  <title>Iipet</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", "ueditor/editor_all", "ueditor/editor_config", "posts" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
